<section class="b-about" id="about">
    <div class="container">
        <div class="b-about__poster">
            <img src="images/poster.jpg" alt="">
            <!-- <button data-buy="2" class="btn btn--type-2 kh_boxoffice medium-visible" kh:ticket kh:widget="movie" kh:id="7336"><span>купить билет</span></button> -->
        </div>
        <div class="b-about__data">
            <div class="b-about__data__inner">
                <h1 class="h1">Зверополис</h1>
                <div class="title"><img src="images/title.png" alt=""></div>
                <p>Добро пожаловать в Зверополис – современный город, населенный самыми разнымиживотными, от огромных слонов до крошечных мышек. Зверополис разделен на районы,полностью повторяющие естественную среду обитания разных жителей – здесь есть иэлитный район Площадь Сахары и неприветливый Тундратаун. В этом городе начинаетслужбу новый офицер полиции, жизнерадостная крольчиха Джуди Хопс, которая спервых дней работы понимает, как сложно быть маленькой и пушистой среди больших исильных стражей порядка. Джуди хватается за первую же возможность проявить себя,несмотря на то, что ее партнером будет болтливый и хитрый лис Ник Уайлд. Вдвоем импредстоит раскрыть сложное дело, от которого будет зависеть судьба всех обитателей Зверополиса. </p>
                <ul class="b-features">                   
                    <li class="b-features__item">
                        <div class="b-features__item__left">Жанр:</div>
                        <div class="b-features__item__right">Анимационное приключение</div>
                    </li>
                    <li class="b-features__item">
                        <div class="b-features__item__left">Режиссеры:</div>
                        <div class="b-features__item__right">Байрон Ховард, Рич Мур</div>
                    </li>
                    <li class="b-features__item">
                        <div class="b-features__item__left">Продюсер:</div>
                        <div class="b-features__item__right">Кларк Спенсер</div>
                    </li>
                    <li class="b-features__item">
                        <div class="b-features__item__left">Роли озвучили:</div>
                        <div class="b-features__item__right">Антон Лаврентьев (Ник Уайлд), Мария Ивакова (Джуди Хопс), Николай Дроздов (Блиц), Владимир Меньшов (Леодор Златогрив), Мария Аронова (Мисс Барашкис)</div>
                    </li>
                </ul>
                <!-- <button data-buy="2" class="btn btn--type-2 kh_boxoffice medium-hidden" kh:ticket kh:widget="movie" kh:id="7336"><span>купить билет</span></button> -->
            </div>
        </div>
    </div>
</section>
