<section id="characters" class="b-characters">
    <div class="container">
        <h2 class="section-title h1">Герои</h2>
        <div  class="b-carousel full-width-carousel">
            <div class="b-carousel__item">
                <img data-flickity-lazyload="assets/characters/Zoot_Rollout_Bellwether_ru.jpg" alt="">
            </div>
            <div class="b-carousel__item">
                <img data-flickity-lazyload="assets/characters/Zoot_Rollout_BonnieStuHopps_ru.jpg" alt="">
            </div>
            <div class="b-carousel__item">
                <img data-flickity-lazyload="assets/characters/Zoot_Rollout_ChiefBogo_ru.jpg" alt="">
            </div>
            <div class="b-carousel__item">
                <img data-flickity-lazyload="assets/characters/Zoot_Rollout_Clawhauser_ru.jpg" alt="">
            </div>
            <div class="b-carousel__item">
                <img data-flickity-lazyload="assets/characters/Zoot_Rollout_DukeWeaselton_ru.jpg" alt="">
            </div>
            <div class="b-carousel__item">
                <img data-flickity-lazyload="assets/characters/Zoot_Rollout_Finnick_ru.jpg" alt="">
            </div>
            <div class="b-carousel__item">
                <img data-flickity-lazyload="assets/characters/Zoot_Rollout_Flash_ru.jpg" alt="">
            </div>
            <div class="b-carousel__item">
                <img data-flickity-lazyload="assets/characters/Zoot_Rollout_JudyHopps_ru.jpg" alt="">
            </div>
            <div class="b-carousel__item">
                <img data-flickity-lazyload="assets/characters/Zoot_Rollout_Lionheart_ru.jpg" alt="">
            </div>
            <div class="b-carousel__item">
                <img data-flickity-lazyload="assets/characters/Zoot_Rollout_MrsOtterton_ru.jpg" alt="">
            </div>
            <div class="b-carousel__item">
                <img data-flickity-lazyload="assets/characters/Zoot_Rollout_NickWilde_ru.jpg" alt="">
            </div>
            <div class="b-carousel__item">
                <img data-flickity-lazyload="assets/characters/Zoot_Rollout_Yax_ru.jpg" alt="">
            </div>
        </div>
    </div>
</section>
