			<footer class="footer">
				<div class="container">
					<svg class="dsn-logo" xmlns="http://www.w3.org/2000/svg" width="70" height="30" viewBox="0 0 594 244.8">
						<use xlink:href="#dsn-logo"></use>
					</svg>
					<div class="foo-nav">
						<ul>
							<li><a href="http://movies.disney.ru/">Фильмы</a></li>
							<li><a href="http://personagi.disney.ru/">Персонажи</a></li>
							<li><a href="http://games.disney.ru/">Игры</a></li>
							<li><a href="http://waltdisney.ru/">О Disney</a></li>
						</ul>
					</div>
					<div class="copy">
						<p>© Disney. Все права защищены.</p>
						<p>12+ Информационная продукция, опубликованная на данном сайте, предназначена для аудитории, от 12 лет, если иное не указано дополнительно в отношении отдельных материалов</p>
					</div>
					<div class="foo-socials">
						<a href="http://facebook.com/disneyrussia" class="facebook"></a>
						<a href="http://twitter.com/disneyrussia" class="twitter"></a>
						<a href="http://ok.ru/disney" class="odnoklassniki"></a>
						<a href="http://youtube.com/user/WaltDisneyStudiosRU" class="youtube"></a>
						<a href="http://instagram.com/disneyrussia" class="instagram"></a>
					</div>
				</div>
			</footer>
		</div>
		<script src="js/main.js"></script>
	    <!-- Button pay ticket -->
	    <script>

	      // (function() {
	      //   var script = document.createElement('script');
	      //   script.src = 'http://kinohod.ru/static/js/widget/v3/boxoffice.js?apikey=1645eaec-f741-3f97-96ee-bde26d74aee9&utm_source=starwars.ru&utm_medium=landing&utm_content=buy_button&utm_campaign=starwars';
	      //   script.type = 'text/javascript';
	      //   script.async = 'false';
	      //   script.id = 'kh_script';
	      //   var s = document.getElementsByTagName('script')[0];
	      //   s.parentNode.insertBefore(script, s);
	      // })();

	      // (function() {
	      //   var script = document.createElement('script');
	      //   script.src = 'http://kinohod.ru/static/js/widget/boxoffice/generic.js';
	      //   script.type = 'text/javascript';
	      //   script.async = 'false';
	      //   var s = document.getElementsByTagName('script')[0];
	      //   s.parentNode.insertBefore(script, s);
	      // })();

	    </script>
	</body>
</html>
