<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>"Зверополис" в кино с 3 марта</title>
        <!-- Добро пожаловать в Зверополис – современный город, населенный самыми разными животными! -->

        <meta property="og:title" content='"Зверополис" в кино с 3 марта'/>
        <meta property="og:type" content="movie"/>
        <meta property="og:url" content="http://zveropolis.disney.ru/"/>
        <meta property="og:image:type" content="image/jpeg" />
        <meta property="og:image:width" content="1200" />
        <meta property="og:image:height" content="627" />
        <meta property="og:image" content="http://zveropolis.disney.ru/assets/facebook_1200x627.jpg"/>
        <meta property="og:description" content="Добро пожаловать в Зверополис – современный город, населенный самыми разными животными!"/>


        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content='"Зверополис" в кино с 3 марта'>
        <meta name="twitter:image" content="http://zveropolis.disney.ru/assets/twitter_280x150.jpg">
        <meta name="twitter:description" 
            content="Добро пожаловать в Зверополис – современный город, населенный самыми разными животными!">


        <link rel="shortcut icon" href="http://a.dilcdn.com/a/favicon-94e3862e7fb9.ico" type="image/x-icon">
        <link rel="stylesheet" href="css/style.css">
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->


        <script>
            window.dataLayer = [{
              // собираем данные о пользователе
              'orientation': window.innerHeight > window.innerWidth ? 'Portrait' : 'Landscape'
            }];
        </script>

        <!-- End Google Tag Manager: dataLayer -->
        <!-- Google Tag Manager: container -->
        <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-33CDPQ"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-33CDPQ');</script>
        <!-- End Google Tag Manager: container -->
        
    </head>
    <body>
        <div class="global">
            <header class="header">
                <div class="container">
                    <nav class="b-nav">
                        <ul class="b-nav__list">
                            <li class="b-nav__item"><a class="b-nav__link" href="#about">О фильме</a></li>
                            <li class="b-nav__item"><a class="b-nav__link" href="#characters">Герои</a></li>
                            <li class="b-nav__item"><a class="b-nav__link" href="#zootopia">Зверополис</a></li>
                            <li class="b-nav__item"><a class="b-nav__link" href="#video">Видео</a></li>
                            <li class="b-nav__item"><a class="b-nav__link" href="#stills">Кадры</a></li>
                        </ul>
                    </nav>
                    <div class="b-socials">
                        <div class="share__init" data-url="http://zootopia.disney.ru/" data-title="Зверополис"></div>
                    </div>
                </div>
            </header>
