<section id="stills" class="stills">
    <div class="container">
        <h2 class="section-title h1">Кадры</h2>
        <div id="stills-container" class="b-stills js-append">
            <div class="b-stills__item js-still-gallery">
                <img src="assets/stills/thumbs/1_preview.jpg" alt="">
            </div>
            <div class="b-stills__item js-still-gallery">
                <img src="assets/stills/thumbs/2_preview.jpg" alt="">
            </div>
            <div class="b-stills__item js-still-gallery">
                <img src="assets/stills/thumbs/3_preview.jpg" alt="">
            </div>
            <div class="b-stills__item js-still-gallery">
                <img src="assets/stills/thumbs/4_preview.jpg" alt="">
            </div>
            <div class="b-stills__item js-still-gallery">
                <img src="assets/stills/thumbs/5_preview.jpg" alt="">
            </div>
            <div class="b-stills__item js-still-gallery">
                <img src="assets/stills/thumbs/6_preview.jpg" alt="">
            </div>
            <div class="b-stills__item js-still-gallery">
                <img src="assets/stills/thumbs/7_preview.jpg" alt="">
            </div>
            <div class="b-stills__item js-still-gallery">
                <img src="assets/stills/thumbs/8_preview.jpg" alt="">
            </div>
        </div>
        <div class="load-more load-more--row">
            <span class="load-more__control js-load">
                <span>Показать все кадры</span>
            </span>
        </div>

        <div id="stills_carousel" class="b-stills__carousel b-carousel">
            <div class="b-stills__carousel__item">
                <img class="b-stills__carousel__image" data-flickity-lazyload="assets/stills/thumbs/1_preview.jpg" alt="">
            </div>
            <div class="b-stills__carousel__item">
                <img class="b-stills__carousel__image" data-flickity-lazyload="assets/stills/thumbs/2_preview.jpg" alt="">
            </div>            
            <div class="b-stills__carousel__item">
                <img class="b-stills__carousel__image" data-flickity-lazyload="assets/stills/thumbs/3_preview.jpg" alt="">
            </div>
            <div class="b-stills__carousel__item">
                <img class="b-stills__carousel__image" data-flickity-lazyload="assets/stills/thumbs/4_preview.jpg" alt="">
            </div>            
            <div class="b-stills__carousel__item">
                <img class="b-stills__carousel__image" data-flickity-lazyload="assets/stills/thumbs/5_preview.jpg" alt="">
            </div>
            <div class="b-stills__carousel__item">
                <img class="b-stills__carousel__image" data-flickity-lazyload="assets/stills/thumbs/6_preview.jpg" alt="">
            </div>            
            <div class="b-stills__carousel__item">
                <img class="b-stills__carousel__image" data-flickity-lazyload="assets/stills/thumbs/7_preview.jpg" alt="">
            </div>
            <div class="b-stills__carousel__item">
                <img class="b-stills__carousel__image" data-flickity-lazyload="assets/stills/thumbs/8_preview.jpg" alt="">
            </div>
        </div>

    </div>
</section>
