<section class="b-trailer">
    <div data-vid="ojwshqb4y5" id="wistiaEmbed-wrapper" class="wistiaEmbed-wrapper">
        <div class="wistiaEmbed-overlay"></div>
        <div id="wistia_ojwshqb4y5" class="wistia_embed 44wistia_async_ojwshqb4y5"></div>
    </div>
    <div class="b-trailer__center">
        <div class="logo"><img src="images/logo.png" alt="Зверополис"></div>
        <div class="date">В кино с 3 марта</div>
        <span id="play-video-btn" class="play"></span>
        <!-- <span class="btn btn--type-1 kh_boxoffice" data-buy="1" kh:ticket kh:widget="movie" kh:id="7336"><span>купить билет</span></span> -->
    </div>
    <div data-vid="h_5xTcczIdA" id="youtubeEmbed-wrapper" class="youtubeEmbed-wrapper">
        <div class="player" id="player"></div>
        <button id="youtubeEmbed-close" class="close-btn"></button>
    </div>
</section>
