<section id="video" class="video">
    <div class="container">
        <h2 class="section-title h1">Видео</h2>
        <div class="b-video-list js-append">
            <div  class="b-video">
                <a href="https://www.youtube.com/embed/j71xLVzdsBg?autoplay=1" class="media fancybox.iframe b-video__placeholder__wrapper">
                    <img class="b-video__placeholder" src="assets/videos/1_preview.jpg" alt="">
                </a>
                <div class="b-video__caption">
                    <div class="b-video__time">1:12</div>
                    <div class="b-video__text">Зверополис - Весьма недешевый коврик</div>
                </div>
            </div>
            <div class="b-video">
                <a href="https://www.youtube.com/embed/gYVa3tVBKrg?autoplay=1" class="media fancybox.iframe b-video__placeholder__wrapper">
                    <img class="b-video__placeholder" src="assets/videos/2_preview.jpg" alt="">
                </a>
                <div class="b-video__caption">
                    <div class="b-video__time">0:48</div>
                    <div class="b-video__text">Зверополис - На повестке три вопроса!</div>
                </div>
            </div>
        </div>
        <div class="load-more load-more--row">
            <span class="load-more__control js-load">
                <span>Показать все трейлеры</span>
            </span>
        </div>
    </div>
</section>
